body{
  display: block;
  margin: 8px;
  
}
head{
  width: 1440px;
  height: 820px;
  position: relative;
  background: #E3EBF3;
  
}
.Rectangle{
  width: 1440px;
  height: 60px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: white;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.09);
}
.Home {
  width: 1440px;
  height: 820px;
  position: relative;
  background: #E3EBF3;
}

.Footer {
  width: 1440px;
  height: 66px;
  left: 0px;
  top: 754px;
  position: absolute;
}

.Rectangle2 {
  width: 1292px;
  height: 66px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: white;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.09);
  border-radius: 11px;
}

.TodosOsDireitosReservados {
  left: 609px;
  top: 20px;
  position: absolute;
  color: black;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 26px;
  word-wrap: break-word;
}

.Searchengine {
  width: 1307px;
  height: 66px;
  left: 66px;
  top: 394px;
  position: absolute;
}

.Rectangle7{
  width: 1307px;
  height: 80px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: white;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.09);
  border-radius: 11px;}

.Location {
  width: 70.86px;
  height: 47px;
  left: 16px;
  top: 9px;
  position: absolute;
}

.SOPaulo {
  width: 150px;
  left: -0px;
  top: 21px;
  position: absolute;
  text-align: right;
  color: #00264D;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 26px;
  word-wrap: break-word;
}

.Label {
  width: 70.86px;
  height: 24px;
  left: 0px;
  top: 0px;
  position: absolute;
}

.Destino {
  width: 48.60px;
  height: 24px;
  left: 22.26px;
  top: 0px;
  position: absolute;
  color: #698096;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 26px;
  word-wrap: break-word;
}

.Icon {
  width: 13.15px;
  height: 14px;
  left: 0px;
  top: 5px;
  position: absolute;
  border: 1px #0080FF solid;
  background-image: url('img/icon-1.svg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
}

.StartDate {
  width: 88.01px;
  height: 48px;
  left: 364px;
  top: 9px;
  position: absolute;
}

.doze2022 {
  width: 66.77px;
  left: 12.14px;
  top: 22px;
  position: absolute;
  text-align: right;
  color: #00264D;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 26px;
  word-wrap: break-word;
}
input[type="text"] {
  width: 61px;
  left: 0px;
  top: 2px;
  position: absolute;
  text-align: right;
  color: #00264D;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 26px;
  word-wrap: break-word;
  border: none; /* Remove as bordas */
  background: transparent; /* Remove o fundo padrão */
  outline: none; /* Remove a borda de foco */
 
}
input[type="date"] {
  width: 80px;
  left: 12.14px;
  top: 22px;

  text-align: right;
  color: #00264D;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 26px;
  word-wrap: break-word;
  border: none; /* Remove as bordas */
  background: transparent; /* Remove o fundo padrão */
  outline: none; /* Remove a borda de foco */
 
}








.Entrada {
  width: 51.59px;
  height: 24px;
  left: 22.26px;
  top: 0px;
  position: absolute;
  color: #698096;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 26px;
  word-wrap: break-word;
}

.Separator {
  width: 37px;
  height: 0px;
  left: 0px;
  top: 39px;
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  border: 1px #E3E6E9 solid;
}

.EndDate {
  width: 78.91px;
  height: 48px;
  left: 622.97px;
  top: 9px;
  position: absolute;
}

.SaDa {
  width: 36.42px;
  height: 24px;
  left: 22.26px;
  top: 0px;
  position: absolute;
  color: #698096;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 26px;
  word-wrap: break-word;
}

.Guests {
  width: 127.46px;
  height: 48px;
  left: 980px;
  top: 9px;
  position: absolute;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button {
  width: 115.66px;
  height: 38px;
  left: 0px;
  top: 0px;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 26px;
  word-wrap: break-word;
}

span {
  font-size: 18px;
}

.quantidade {
  display: flex;
  align-items: center;
  margin: 1px;

}


span {
  font-size: 18px;
}

.Adultos1Quarto {
  width: 114px;
    left: 13.15px;
    top: 22px;
    position: absolute;
    color: #00264D;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 26px;
    word-wrap: break-word;
}
.Icondest{
  width: 15px;
  height: 14px;
  left: 0px;
  top: 5px;
  position: absolute;
  border: 1px #0080FF solid;
  background-image: url('img/icon-3.svg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
}
.Icon4{
  width: 15px;
  height: 14px;
  left: 0px;
  top: 5px;
  position: absolute;
  border: 1px #0080FF solid;
  background-image: url('img/icon-4.svg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
}
.Icon3{
  width: 15px;
  height: 14px;
  left: 0px;
  top: 5px;
  position: absolute;
  border: 1px #0080FF solid;
  background-image: url('img/icon-4.svg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
}
.Icon2{
  width: 15px;
  height: 14px;
  left: 0px;
  top: 5px;
  position: absolute;
  border: 1px #0080FF solid;
  background-image: url('img/icon-5.svg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
}

.HSpedes {
  width: 62.72px;
  height: 24px;
  left: 23.27px;
  top: 0px;
  position: absolute;
  color: #698096;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 26px;
  word-wrap: break-word;
}

.Search {
  width: 117px;
  height: 38px;
  left: 1169.77px;
  top: 14px;
  position: absolute;
}

.BotO {
  width: 117px;
  height: 38px;
  left: 0px;
  top: 0px;
  position: absolute;
  text-align: center;
  color: rgb(53, 20, 146);
  font-size: 12px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 26px;
  word-wrap: break-word;
  background-color: #0080FF;
  border-radius: 7%;
}

.Pesquisar {
  width: 115.66px;
  height: 38px;
  left: 0px;
  top: 0px;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 26px;
  word-wrap: break-word;
}

.OsMelhoresHoteisEDestinosParaSuaViagem {
  left: 345px;
  top: 251px;
  position: absolute;
  text-align: center;
}

.Header {
  width: 1307px;
  height: 26px;
  left: 59px;
  top: 17px;
  position: absolute;
}

.Menu {
  width: 103px;
  height: 26px;
  left: 1204px;
  top: 0px;
  position: absolute;
}

.Item {
  width: 103px;
  height: 26px;
  left: 0px;
  top: 0px;
  position: absolute;
}

.IniciarSessao {
  left: 19px;
  top: 0px;
  position: absolute;
  text-align: right;
  color: #698096;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 26px;
  word-wrap: break-word;
}

.Icon {
  width: 12px;
  height: 12px;
  left: 0px;
  top: 7px;
  position: absolute;
  border: 1px #698096 solid;
}

.Logo {
  left: 0px;
  top: 0px;
  position: absolute;
  text-align: right;
  color: #00264D;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 26px;
  word-wrap: break-word;
}
.os {
  color: #00264D;
  font-size: 50px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 20px;
  word-wrap: break-word;
}

.Hoteis {
  color: #0080FF;
  font-size: 50px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 20px;
  word-wrap: break-word;
}

.e {
  color: black;
  font-size: 50px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 20px;
  word-wrap: break-word;
}

.Destinos {
  color: #0080FF;
  font-size: 50px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 20px;
  word-wrap: break-word;
}

.para {
  color: black;
  font-size: 50px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 20px;
  word-wrap: break-word;
}

.sua {
  color: black;
  font-size: 50px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 20px;
  word-wrap: break-word;
}

.viagem {
  color: black;
  font-size: 50px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 20px;
  word-wrap: break-word;
}
.umdois2022{
      width: 66.77px;
  left: 12.14px;
  top: 22px;
  position: absolute;
  text-align: right;
  color: #00264D;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 26px;
  word-wrap: break-word;
}
.p{
  width: 313px;
  height: 63.62px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px; 
  text-align: right;
  color: #00264D;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 26px;
  word-wrap: break-word; 
}
.searchResultsContainer{
  width: 150px;
  height: 63.62px;
  left: 0px;
  top: 0px;
  position: absolute;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px; 
  text-align: right;
  color: #00264D;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 26px;
  word-wrap: break-word; 
}
.suggestions{
  width: 109px;
  height: 43px;
  left: 37px;
  top: 10px;
  position: absolute;
}

